@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html {

	background-color:#242526;
	height: 1500px;
}

body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
color:white;
 
}


.home {

 
   transition: transform .5s ease;
}

.home:hover {
overflow: hidden; 
cursor: pointer;
 transition: transform .5s ease;
  transform: scale(1.25); 
} 