html {

	background-color:#242526;
	height: 1500px;
}

body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
color:white;
 
}
.definitions {
padding-top:30px;
  position:absolute;
font-family: 'Montserrat', sans-serif;
color:white;
left:50px;
   transition: transform .5s ease;

} 

.definitions:hover {
overflow: hidden; 
cursor: pointer;
 transition: transform .5s ease;
  transform: scale(1.25); 
} 

.stories {

  font-size:15px;
left: 50%;
margin-left:-10px;
margin-top:85px;
position:absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   transition: transform .5s ease;
}

.stories:hover {
overflow: hidden; 
cursor: pointer;
 transition: transform .5s ease;
  transform: scale(1.25) translateX(-40%) translateY(-35%); 
} 

.news {


  position: absolute;

  right: 100px;
  top: 420px;
   transition: transform .5s ease;
}

.news:hover {
overflow: hidden; 
cursor: pointer;
 transition: transform .5s ease;
  transform: scale(1.25); 
} 


.laws {

  font-size:15px;
left: 300px;

top:640px;
position:absolute;

   transition: transform .5s ease;
}

.laws:hover {
overflow: hidden; 
cursor: pointer;
 transition: transform .5s ease;
  transform: scale(1.25); 
} 

.pronouns {

  font-size:15px;
right: 300px;

top:640px;
position:absolute;

   transition: transform .5s ease;
}

.pronouns:hover {
overflow: hidden; 
cursor: pointer;
 transition: transform .5s ease;
  transform: scale(1.25); 
} 


.home {

 
   transition: transform .5s ease;
}

.home:hover {
overflow: hidden; 
cursor: pointer;
 transition: transform .5s ease;
  transform: scale(1.25); 
} 